@model ProductosModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar Producto
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Productos" method="post">
            <input asp-for="IdPrudcuto" type="hidden" class="form-control">
            <div class="alert alert-danger" role="alert">
                Desea eliminar el Cliente: @Html.DisplayTextFor(m => m.Nombre) ?
            </div>

            <button type="submit" class="btn btn-primary"> <i class="bi bi-trash2-fill"></i> Eliminar</button>
            <a asp-action="Listar" asp-controller="Productos" class="btn btn-warning"> <i class="bi bi-arrow-left-square-fill"></i>  Volver a la lista</a>
        </form>
    </div>
</div>